.vs/
OpenSilverPdfViewer/OpenSilverPdfViewer/bin/
OpenSilverPdfViewer/OpenSilverPdfViewer/obj/
OpenSilverPdfViewer/OpenSilverPdfViewer.Browser/bin/
OpenSilverPdfViewer/OpenSilverPdfViewer.Browser/obj/
OpenSilverPdfViewer/OpenSilverPdfViewer.Browser/wwwroot/Data/
OpenSilverPdfViewer/OpenSilverPdfViewer.Simulator/bin/
OpenSilverPdfViewer/OpenSilverPdfViewer.Simulator/obj/
